.red
{
	color:red;
}

.connectdiv
{
	background-color:lightgreen;
    margin-top:100px;
	height:300px;
    padding-top:25px
}

.titreParcelle {
    border-bottom: 1px black solid;
    background-color: yellowgreen;
    height: 80px;
    width: 100%;
    font-size: 22px;
    color: #ffffff;
    padding-top: 4%;
    text-align: center;
}


#ajouter {
    margin-top: 2%;
}

.form {
    margin-top: 5%;
}

.border {
    border: 1px solid;
}

.aaa {

}

#scrollWindow {
    overflow-y: scroll;
}

#gg {
    padding: 2%;
    width: 100%;
}

#parce {
    margin-left: 4%;
}

#dd {
    margin: 1%;
    padding: 2%;
    border: 1px black solid;
}