.red
{
	color:red;
}

.connectdiv
{
	background-color:#74DF00;
    margin-top:100px;
	height:350px;
    padding-top:25px;
	border:solid #000000 1px;
	
}

.titreParcelle {
    border-bottom: 1px black solid;
    background-color: #74DF00;
    height: 80px;
    width: 100%;
    font-size: 22px;
    color: #ffffff;
    padding-top: 4%;
		padding-left:5%;
    text-align: left;
}

.back
{
	position:fixed;
	left:0%;
	top:0%;
	height:100%;
	width:100%;
	z-index:-1;
}

#ajouter {
    margin-top: 2%;
}

.form {
    margin-top: 5%;
}

.border {
    border: 1px solid;
}

.aaa {
}

#scrollWindow {
    overflow-y: scroll;
		height:600px;
}

#gg {
    padding: 2%;
    width: 100%;
}

#parce {
    margin-left: 4%;
}

#dd {
    margin: 1%;
    padding: 2%;
    border: 1px black solid;
}

.dde {
    margin: 1%;
    padding: 2%;
    border: 1px black solid;
		background-color:#74DF00;
}

#ttt {
    border: 1px black solid;

}

#addParcelle, #jjj {
    font-size: 22px;
		height:100px;
}

.showparce
{
		text-align:center;
}

.showparce *
{
		display:inline-block;
}

.footer
{
	height:100px;
	opacity:0.8;
	background-color:#000000;
	position:absolute;
	bottom:0%;
}

.footerbis
{
	height:100px;
	opacity:0.8;
	background-color:#000000;
}

.showtemp
{
	text-align:center;
}

.cadastre
{
	height:600px;
}

.icotask
{
	height:25px;
	width:35px;
	position:absolute;
	right:10%;
}

.dou
{
	height:100px;
	width:100px;
}

.expgo
{
	width:100%;
	height:50px;
}

#pushit
{
	position:absolute;
	display:inline-block;
	margin-left:10px;
}

.publexp
{
	height:75px;
	width:100%;
	background-color:#74DF00;
	padding-top:5px;
	padding-left:10px;
	color:#FFFFFF;
	border:solid #000000 1px;
	cursor:pointer;
}

.navbar-inverse
{
	background-color:#FFFFFF;
	border:none;
}

.morede
{
	display:none;
}
